Manifest.toml
*code-workspace
*.cov
*.cell
*.param
*.castep
*.usp
*.pp
*.conv
*.gz
*.err
*.cif
*.ddp
*.agr
*.delta
examples/*
*.jld2
events.out*
.eddp_builder
.*.swp
*.so
test/pp3-example/gen*

scripts/*
!scripts/sysimg.jl
**/deps/build.log